button:focus {
  outline: none;
}

.App {
  max-width: 800px;
  margin: auto;
}

.Container{
  padding: 0 20px;
}

.Ninja{
  margin-top: 20px;
  min-height: 200px;
  background-color: black;
}

.HeaderText{
  text-align: center;
}

.GenerateButton{
  display:block;
  margin: auto;
  font-size: 18px;
  border: 2px solid black;
}

.GenerateButton:hover {
  background-color: black;
  color: white;
}

.Line{
  margin: 20px auto;
  max-width: 400px;
  border-bottom: 2px solid black;
}

.FeaturedQuote{
  text-align: center;
  font-size: 40px;
}

.QuoteImage{
  margin-top: 20px;
  min-height: 200px;
  background-color: magenta;
}
