@font-face {
  font-family: 'qsBold';
  src: url("/assets/quicksandBold.otf") format("opentype");
}

/*#b20000*/

button:focus {
  outline: none;
}

html {
  background-color: #101010;
}

.App {
  margin: auto;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inspirationalNinjaTextImg {
  display: block;
  max-width: 300px;
  margin: 30px 50px;
}

.Container {
  padding: 0 20px;
}

.TopNinja {
  display: block;
  margin: auto;
  margin-top: 60px;
  min-height: 200px;
  max-height: 300px;
}

.HeaderText {
  color: white;
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}

.GenerateButton {
  display:block;
  margin: auto;
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 40px;
  background-color: #101010;
  color: white;
  border: 2px solid white;
}

.GenerateButton:hover {
  background-color: white;
  color: black;
}

.Line {
  margin: 60px auto;
  max-width: 400px;
  border-bottom: 4px solid #b20000;
}

.GeneratedQuote {
  min-height: 100px;
  margin-top: 60px;
}

.FeaturedQuoteHeader {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  font-size: 40px;
}

.FeaturedQuoteImage {
  display: block;
  max-width: 700px;
  margin: auto;
  background-color: magenta;
}

.UpsidedownNinja {
  display: block;
  max-width: 300px;
  margin-left: 50vw;
  margin-top: 50px;
}
